@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meeting Room</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Room Of Formulatrix Building</a>.</p>
</div>
